body {
  width: 100vw;
  margin-top: 0px;
  margin-left: 0px;
  padding-left: 3%;
  border-top: 5px solid green;
  color: grey;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}
.container {
  /*width: 90vw;*/
}
.nav {
  margin-top: 10px;
  width: 100vw;
}
.nav img {
  margin-left: 5%;
  margin-bottom: -10px;
}
.float-right {
  float: right;
  margin-right: 10%;
}
h1 {
  padding-top: 20px;
}
.main-img {
  height: 40vh;
  background-image: url("../img/people-tablets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: white;
}
.main-img p {
  padding-left: 20px;
  padding-top: 60px;
}
.block {
  border: 10px solid white;
  overflow: hidden;
  background-color: #bfbfbf;
}
.block-pic {
  margin-left: 3%;
  margin-top: 6vh;
  width: 20vw;
  float: left;
}
.block-text{
  margin-right: -3%;
  width: 60vw;
  float: right;
  color: black;
}
.block-main-text{
  font-size: 1.3em;
}
.block-date {
  color: grey;
}
ul {
  display: none;
}

@media screen and (min-width:750px) {
  .main-img {
    width: 90vw;
    height: 30vh;
  }
  .gallery {
    margin-left: -10px;
  }
  .block{
    float: left;
    width: 43vw;
    height: 350px;
  }
  .block:nth-child(2n+1) {
    clear: both;
  }
  .block-pic {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .block-text {
    width: 100%;
    margin-right: 100px;
    float: none;
  }
  .block-main-text, .block-date {
    font-size: 1em;
    text-align: center;
  }
}

@media screen and (min-width:1000px) {
  .nav {
    margin-left: -5%;
  }
  i:first-child {
    display: none;
  }
  ul {
    margin-right: 20px;
    color: black;
    display: inline;
    list-style: none;
  }
  li {
    margin-right: 20px;
    display: inline;
  }
  .main-img {
    float: left;
    width: 40vw;
    height: 40vh;
  }
  .block {
    width: 20vw;
    float: left;
    height: 380px;
    margin-left: -10px;
    margin-top: -10px;
  }
  .block-main-text {
    float: left;
    margin-top: 20px;
    color: blue;
  }
  .block:nth-child(2n+1) {
    clear: none;
  }
  .float-right {
    margin-right: 15%;
  }
  h1 {
    padding-top: 60px;
    padding-left: 70px;
  }
  h2 {
    width: 60vw;
    padding-top: 20px;
    padding-left: 70px;
    padding-bottom: 40px;
  }
}
